name: Build
on:
  push:
    branches: ["main"]

  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: |
          corepack enable
          yarn install --frozen-lockfile

      - name: Run gulp to build
        run: yarn run gulp
        env:
          NODE_ENV: production

      - name: Create build directory
        run: mkdir -p ./build

      - name: Package build
        run: |
          cd ./dist &&
          tar -czf ../build/shinage-static-player.tar.gz player.html

      - name: Write domain to CNAME file
        run: echo "player-test.shinage.org" > CNAME

      - name: Upload artifact
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'

      - name: Create Release
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ github.ref }}
          draft: false
          prerelease: false
          files: build/shinage-static-player.tar.gz

  deploy:
    needs: build

    runs-on: ubuntu-24.04

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      #- name: Setup Pages
      #  if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
      #  uses: actions/configure-pages@v5

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        id: deployment
        uses: actions/deploy-pages@v4
